.all_wrapper{
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.all_element{
    justify-content: space-between;
    height: 100%;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.all_element > p {
    font-size: xx-large;
    color: "#000";
    font-weight: bold;
}
.all_element > img{
    aspect-ratio: 16/9;
    width: 345px;
}