.welcome_wrapper{
    display: flex;
    justify-content: space-between;
    width: 98vw;
    padding: 40px 0px 40px 0px;
    gap: 20px;
}
.welcome_wrapper_b{
    display: flex;
    justify-content: center;
}
@media (max-width: 768px) {
    .welcome_wrapper{
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
    margin-bottom: 20px;
  } 
}
.welcome_image{
    aspect-ratio: 16/10;
    position: relative;
}
@media (max-width: 768px) {
    .welcome_image{
    width: 100vw;
    align-self: center;
  }
} 
.welcome_image > img{
    aspect-ratio: 16/13;
    height: 365px;
}
.welcome_text{
    width: 46vw;
    align-self: center;
}
@media (max-width: 768px) {
    .welcome_text{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-content: center;
      } 
    }
.welcomTo{
    color: #009A4E;
    line-height:0.8;
    margin-bottom:13px;
    font-size:37px;
}
@media (max-width: 768px) {
   .welcomTo{
    font-size: 27px;
    align-self: center;
 } 
}
.berkyigitler{
    color: #009A4E;
    line-height:1;
    margin-top: 30;
    font-size:66px;
}
@media (max-width: 768px) {
    .berkyigitler{
    font-size: 56px;
    align-self: center;
 } 
}
.dividerW{
    margin-bottom: 20px;
    width: 20%;
    height: 1px;
    background-color: gray;
}
@media (max-width: 768px) {
    .dividerW{
    align-self: center;
  } 
}
.des_txt{
    width: 75%;
    letter-spacing: 1.3px;
    color: #1c1c1c; 
}
@media (max-width: 768px) {
    .des_txt{
    align-self: center;
    text-align: center;
  } 
}