.email{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.email > div{
    font-size: 32px;
    font-weight: bold;
}
.emailus_wrapper{
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 97%;
margin-top: 30px;
overflow: hidden;
}
@media (max-width: 768px) {
    .emailus_wrapper {
    display: flex;
    flex-direction: column;
  }
} 

.emailus_image{
    position: relative;
}
@media (max-width: 768px) {
    .emailus_image {
    display: none;
    }
  } 
.emailus_image > img{
    aspect-ratio: 16/9;
    width: 100%;
    object-fit: cover;
    right: 0;
    /* height: 500px; */
    padding-bottom: 20px;
}
@media (max-width: 768px) {
    .emailus_image > img {
    height: 46vh;
    right: 0;
    padding-bottom: 20px;
    }
  } 
.dividerE{
    margin-top: 13px;
    margin-bottom: 13px;
    width: 20%;
    height: 1px;
    background-color: gray;
}
.des_txt{
    color: #1c1c1c;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {
    .form{
    width: 100vw;
    align-self: center;
  } 
}
.input_place{
    padding: 0px 20px 0px 20px;
    width: 80%;
    height: 40px;
    border-radius: 8px;
    border: #009a4e 2px solid;
    font-size: 18px;
}
.input_place::placeholder{
    font-size: 18px;
}
.text_area{
    padding: 10px 20px 0px 20px;
    width: 80%;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: #009a4e 2px solid;
    font-size: 18px;
}
.text_area::placeholder{
    font-size: 18px;

}
.submit_button{
    background-color: #009a4e;
    border: 0px;
    border-radius: 15px;
    padding: 13px 16px 13px 16px;
    font-size: 25px;
    color: white;
    font-weight: 600;
}
.email{
    display: flex;
    justify-content: center;
    align-items: center;
}