.welcome_wrapper_desk{
    display: flex;
    margin-top: 20px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    gap: 20px;
    @media (max-width: 900px) {
        display: none;
      } 
}
.section_slider{
    height: 300px;
    background-color: rgb(248,248,248);
}
.section_slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section_slide > img{
    aspect-ratio: 16/9;
    height: 260px;
}
.welcome_wrapper_mobile{
    display: none;
    gap: 20px;
    @media (max-width: 900px) {
        display: block;
    gap: 50px;
      } 
}
.welcome_wrapper_desk, .welcome_wrapper_mobile > h1,h2{
    text-align: center;
    @media (max-width: 768px) {
        margin-top: 20px;
        margin-bottom: 20px;
      } 
    
}
.section_wrapper{
    width: 100%;
    background-color: rgb(248,248,248);
    padding-top: 15px;
    padding-bottom: 15px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    gap: 50px;
    height: 300px;
}
.section_wrapper > div > img{
    aspect-ratio: 16/9;
    height: 260px;
}
.section_wrapper > div{
    position: relative;
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}